<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DefLink.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
	  <add name="masterEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K3IPTFJ;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="DefLinkEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K3IPTFJ;initial catalog=DefLink;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <DefLink.Properties.Settings>
      <setting name="IsLoggedIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ID_User" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="Login" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="UUID" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="ServerAddress" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="PublicKey" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="Label" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="Type" serializeAs="String">
        <value>tcp</value>
      </setting>
      <setting name="Security" serializeAs="String">
        <value>reality</value>
      </setting>
      <setting name="Fingerprint" serializeAs="String">
        <value>random</value>
      </setting>
      <setting name="SNI" serializeAs="String">
        <value>www.ign.com</value>
      </setting>
      <setting name="sid" serializeAs="String">
        <value>24bb34b3f1c0ede6</value>
      </setting>
      <setting name="SPX" serializeAs="String">
        <value>%2F</value>
      </setting>
    </DefLink.Properties.Settings>
  </userSettings>
</configuration>